<!DOCTYPE html>
<html>
<head>
  <title>UmaExample1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <ul>
  <li><%= link_to "First test", my_maps_path %></li>
  <li><%= link_to "Add List", new_list_path %></li>
  <li><%= link_to "Add ListItem", new_listitem_path %></li>
  <li><%= link_to "Add Tag", new_tag_path %></li>
  <li><%= link_to "Add Article", new_article_path %></li>
  <li><%= link_to "Add Owner", new_owner_path %></li>
  <li><%= link_to "Lists Page", lists_path %></li>
  <li><%= link_to "Thrash Folder", thrashpage_lists_path %></li>
</ul>

<%= yield %>

</body>
</html>
